<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>05-下拉类别显示.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6E12092E1B86DD3200FEF05F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6E1209421B86DD3200FEF05F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6E12094D1B86DD3200FEF05F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
